body {
  font-family: arial;
  margin: 40px;
  background: #b2b2b2;
}

.inicio {
  margin: 18px;
}

h1 {
  text-align: center;
  background: #bfcf28;
  border-radius: 6px;
  padding: 20px;
  margin: 20px;

}

h2 {
  margin: 0px;
}
.item {
  background: #111;
  color: #fff;
  padding: 30px;
  margin: 20px;
  border-radius: 4px;
}

span {
  color: #bfcf28;
}

p {
  color: #b2b2b2;
}

a {
  display: inline-block;
  background: #bfcf28;
  color: #332200;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
}
